{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container font-lato">
    <h1 class="titreadmin font-lato">AJOUTER UN PARTENAIRE</h1>
    <hr>
    <br/>
    <a href="{{ path('partner_index') }}"><button type="button" value="PROFIL">RETOUR A LA LISTE</button></a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="ENREGISTRER" />
    {{ form_end(form) }}
</div>

{% endblock %}
