{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid bg-1 text-center">
        <p class="message"><img src="{{ asset('img/erreur.png') }}" alt="image erreur"></p>
        <h1>Une erreur s'est produite</h1>
        <p class="message">Nous vous prions de nous excuser pour ce désagrément.</p>
        <p>
            <a href="{{ path('index') }}" class="btn btn-default" type="button">Retour à l'accueil</a>
        </p>
    </div>

{% endblock %}
