{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid bg-1 text-center">
        <p class="message"><img src="{{ asset('img/interdit.png') }}" alt="image erreur"></p>
        <h1>Votre statut actuel ne vous permet pas d'accéder à ce contenu</h1>
        <p class="message">Soit vous n'êtes pas authentifié (en haut à droite : Connexion), soit ce contenu est réservé aux administrateurs.</p>
        <p class="message">
            <a href="{{ path('index') }}" class="btn btn-default btn-txt" type="button">Retour à l'accueil</a>
        </p>
    </div>

{% endblock %}
