# --- src/NumoBundle/Resources/config/services.yml ---

services:
    numo.curl:
        class: NumoBundle\Services\Curl

    numo.getfilecontents:
        class: NumoBundle\Services\GetFileContents

    numo.apiopenagenda:
        class: NumoBundle\Services\ApiOpenAgenda
        arguments:
            - "@numo.curl"
            - "@numo.getfilecontents"
            - %agenda_slug%
            - %public_key%
            - %secret_key%
    app.form.registration:
        class: NumoBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: app_user_registration }
    app.form.profile:
        class: NumoBundle\Form\ProfileType
        tags:
            - { name: form.type, alias: app_user_profile }

