{% block footer %}
    <footer>

        <div class="footer-last text-center">
            <p class="footer-legal">
                2017 © NUM'O - Site Web créé par la Wild Code School Orléans
                <br/>
                <a data-toggle="modal" data-target="#legal">Mentions légales</a>
            </p>
        </div>
        <div class="modal fade" id="legal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title text-center">MENTIONS LÉGALES</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="mentionLegaleTitle">INFORMATIONS ÉDITEUR</h4>
                            <li>Num’O</li>
                            <li>1 Rue du Champ de Mars</li>
                            <li>45100 Orléans</li>
                            <li>Président: Stéphan Landre</li>
                            <li>Siret : 82540738000013 - contact : president@num-o.fr</li>
                            <li>Conception réalisation du site Internet : Wild Code School Orléans</li>


                        <h4 class="mentionLegaleTitle">HEBERGEMENT</h4>
                            <li>OVH</li>
                            <li>RCS Roubaix – Tourcoing 424 761 419 00045</li>
                            <li>45100 Orléans <br/></li>
                            <li>Code APE 6202A <br/></li>
                            <li>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</li>
                            <li>Conception réalisation du site Internet : Wild Code School Orléans<br/></li>



                        <h4 class="mentionLegaleTitle">DROITS D’AUTEUR - COPYRIGHT</h4>
                        <p>L’ensemble de ce site relève de la législation française et internationale sur le
                            droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont
                            réservés pour toute forme d’utilisation. En particulier, la reproduction des éléments
                            graphiques du site, le téléchargement complet du site pour son enregistrement sur un support
                            de diffusion, ainsi que toute utilisation des visuels, des textes et des documents
                            téléchargeables
                            qu’il contient autre que la consultation individuelle et privée sont interdits sauf
                            autorisation
                            expresse de NUM'O.
                            La reproduction des textes de ce site sur un support papier est autorisée, sous réserve du
                            respect des conditions suivantes :</p>
                        <li> Gratuité de la diffusion,</li>
                        <li> Usage privé sans aucune visée commerciale,</li>
                        <li> Respect de l’intégrité des documents reproduits : aucune sorte de modification ou
                            d’altération ,
                        </li>
                        <li> Citation claire et lisible de la source : l’adresse internet du site NUM'O.fr doit
                            impérativement
                            figurer en référence.
                        </li>
                        </p>


                        <h4 class="mentionLegaleTitle">PORTÉES DES INFORMATIONS - CONTENUS</h4>
                        <p>Les informations publiées sont régulièrement vérifiées. Ces données n’ont pas d’autre visée
                            que de proposer au plus large public une information claire et précise sur l’activité de l’entreprise NUM'O.
                            Elles sont communiquées sans garanties d’aucune sorte, ni explicites, ni tacites. Malgré tout
                            le sérieux apporté à la mise à jour des informations du site, ces dernières peuvent contenir
                            des inexactitudes techniques, des erreurs typographiques ou omissions. Elles sont non contractuelles
                            et sujettes à modification sans préavis.
                        </p>


                        <h4 class="mentionLegaleTitle">LIENS AVEC DES SITES TIERS</h4>
                        <p>Les sites reliés directement ou indirectement au site ne sont pas sous son contrôle. Par conséquent,
                            NUM'O n’assume aucune responsabilité quant aux informations publiées sur ces sites. Les liens dirigeant
                            vers des sites tiers ne sont communiqués qu’à titre de commodité et n’impliquent aucune caution quant à leur contenu.
                            RESPONSABILITÉ
                            La responsabilité de NUM'O ne saurait être retenue en cas de préjudice direct ou indirect (notamment
                            tout préjudice financier, commercial, perte de programmes ou de données) résultant de l’usage de son site et
                            de l’utilisation des données et informations qui y sont mises en ligne. En particulier, NUM'O décline toute responsabilité
                            à l’égard de tout dommage lié à l’utilisation des liens hypertexte mis en ligne sur son site et à la consultation des sites
                            auxquels ils renvoient. Il est expressément rappelé que l’entreprise NUM'O n’a aucun contrôle ni aucune responsabilité sur le
                            contenu de ces sites. Il incombe donc à chaque internaute de prendre les précautions nécessaires afin de s’assurer que le site
                            sélectionné pour son usage n’est pas infesté de virus ou autre parasite de nature destructive.
                        </p>

                        <h4 class="mentionLegaleTitle">TRAITEMENT DES DONNÉES PERSONNELLES</h4>
                        <p>Ce site ne recueille aucune données personnelles hormis celles provenant de l’enregistrement volontaire d’une adresse
                            électronique vous permettant de nous contacter.
                            Les informations que vous nous communiquez ne sont jamais confiées à des tiers. Votre adresse électronique ne nous servira
                            qu’à vous acheminer notre une d’information détaillée sur une demande particulière que vous nous auriez faite.
                            En application de l’article 27 de la loi Informatique et Libertés en date du 6 janvier 1978, vous disposez par ailleurs d’un
                            droit d’accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez exercer
                            ce droit en envoyant un courriel au webmestre. Il vous est également possible de nous envoyer un courrier à l’adresse suivante :
                        </p>
                        <li>Num’O</li>
                        <li>1 Rue du Champ de Mars</li>
                        <li>45100 Orléans</li>
                        <h5 class="mentionLegaleTitle">Mentions Légales AGEONA adaptées</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
