{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron font-lato text-center">
            <h1>Bienvenue sur la page d'administration du site NUMO.fr </h1>
            <img src="{{ asset('img/NUMO.png') }}" alt="logo Numo" class="img-responsive" >

            <p><a class="btn btn-primary btnadmin btn-default" href="../" role="button">Retourner sur NUMO.FR</a></p>
        </div>
    </div>
{% endblock %}