{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron font-lato text-center">
            <h1>Bienvenue sur la page d'administration du site NUM-O.fr </h1>
            <img src="{{ asset('img/NUMO.png') }}" alt="logo Numo" class="img-responsive" >
            <p><a class="btn btn-primary btn-lg btn-admin" href="../" role="button">Retourner sur le site</a></p>

        </div>
    </div>
{% endblock %}