{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron font-lato homeadmin text-center">
            <h1>Bienvenue sur la page d'administration du site NUMO.fr </h1>
            <img src="../img/NUMO.png" class="img-responsive ">
            <br />
            <br/>
            <br/>
            <p><a class="btn btn-primary btn-lg btn-admin" href="../" role="button">Retourner sur NUMO.FR</a></p>
        </div>
    </div>
{% endblock %}