{% extends 'layoutAdmin.html.twiggit ' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenue sur la page d'administration du site NUMO.fr </h1>
            <img src="{{ asset('img/logotrans.png') }}">
            {#<br />#}
            {#<br/>#}
            {#<br/>#}
            <p><a class="btn btn-primary btn-lg btn-home-admin" href="../" role="button">Retourner sur NUMO.FR</a></p>
        </div>
    </div>
{% endblock %}