{% extends 'layoutadmin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenue sur la page d'administration du site NUMO.fr </h1>
            <img src="../img/logotrans.png">
            <br />
            <br/>
            <br/>
            <p><a class="btn btn-primary btn-lg" href="../" role="button">Retourner sur NUMO.FR</a></p>
        </div>
    </div>
{% endblock %}