{% extends 'base.html.twig' %}


{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Association</a></li>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Membres</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}
{% block footer %}
            <div class="footer-bottom text-center visible-xs visible-sm">
            </div>
            <div class="footer-last text-center">
                <p class="footer-legal">
                    2017 © NUM'O - Site Web crée par David, Fanny, Patrick et Sarah de la Wild Code School Orléans
                    <br/>
                    <a data-toggle="modal" data-target="#legal">Mentions légales</a>
                </p>
            </div>
            <div class="modal fade" id="legal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Informations légales</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}