# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    upload_directory_pdf: '%kernel.root_dir%/../web/uploads/numo'
    agenda_slug: duri-wild
    public_key: 1F6bZ8wy4X1IU7Myf7lJxcwwE5UdnBFo
    secret_key: Tx8z8g8B0UQNMFRoKfIv370XaaDzc5nD
    upload_directory: '%kernel.root_dir%/../web/uploads/users'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    server_url: 'http://localhost:8000'

    upload_directory_pdf: '%kernel.root_dir%/../web/uploads/numo'

    agenda_slug: duri-wild
    public_key: 1F6bZ8wy4X1IU7Myf7lJxcwwE5UdnBFo
    secret_key: Tx8z8g8B0UQNMFRoKfIv370XaaDzc5nD
    upload_directory_event: '%kernel.root_dir%/../web/uploads/event'
    img_event_dir: 'uploads/event'
