
/* --- web/css/eventstyle.css --- */



/* --- Formulaires --- */
.bg-form {
    background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    padding: 40px 15px 60px;
}
h1 {
    font-weight: bold;
    font-size: 30px;
}
bg-img {
    text-shadow: 0 0 8px #000000;
}
.sep {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 20px 0px;
}
.in-line {
    display: inline;
}
/* ------------------------------------- */
.btn {
    text-transform: none;
}
/* ------------------------------------- */
.dark-text {
    color: #444444;
}
ul.evtdatelist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.showtrash {
    visibility: hidden;
}
.erreur, .red-error {
    font-size: 16px;
    font-weight: bold;
}
.erreur {
    color: #CADB2A;
}
.red-error {
    color: #FC0606;
}
.datefield {
    width: 130px;
    margin: 0 30px 0 10px;
}
.tagfield {
    width: 300px;
    margin: 0 30px 0 10px;
}

/* --- general --- */
.erreur {
    font-size: 16px;
    font-weight: bold;
    color: #CADB2A;
    text-shadow: 0 0 3px #000;
}
.ecart-haut {
    margin-top: 20px;
}
.ecart-bas {
    margin-bottom: 10px;
}
div.separation {
    margin: 20px 0px;
    width: 100%;
    height: 4px;
    background-color: #CCCCCC;
}
.emphase {
    font-weight: bold;
    color: blue;
}
div#mapzone {
    z-index: 0;
    width: 300px;
    height: 300px;
    margin: -20px auto 0 auto;
}
div#closemap {
    position: relative;
    margin-left: 260px;
    width: 40px;
    height:20px;
    z-index: 100;
    color: white;
    font-weight: bold;
    background-color: red;
}
.cursor-pointer {
    cursor: pointer;
}
div#map {
    z-index: 0;
    width: 300px;
    height: 300px;
    margin: -20px auto 0 auto;
}
div#closemap {
    position: relative;
    margin-left: 260px;
    width: 40px;
    height:20px;
    z-index: 100;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: red;
}
.little-img {
    border: 1px solid #CCCCCC;
    height: 40px;

}
.mid-img {
    max-height: 400px;
    max-width: 300px;
    border: 2px solid #FFFFFF;
}
.rs-button {
    margin: 0 20px;
    height: 30px;
}
.twigerror ul li {
    display: inline;
    color: red;
}
/*.fc-event-title {*/
    /*background-color: #4C9ED9;*/
    /*color: white;*/
/*}*/
#calendar {
    width: 100%;
    padding-top: 30px;
    padding-right: 20px;
}
