
/* --- web/css/eventstyle.css --- */



/* --- Formulaires --- */
.bg-form {
    background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    padding: 40px 15px 60px;
}
h1 {
    font-weight: bold;
    font-size: 30px;
}
bg-img {
    text-shadow: 0 0 8px #000000;
}
.sep {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 20px 0px;
}
.in-line {
    display: inline;
}
.btn {
    text-transform: none;
}
.dark-text {
    color: #444444;
}
ul.evtdatelist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.cachable {
    visibility: hidden;
}




.erreur {
    font-size: 16px;
    font-weight: bold;
    color: #CADB2A;
}


.ecart-haut {
    margin-top: 20px;
}
.ecart-bas {
    margin-bottom: 10px;
}
div.separation {
    margin: 20px 0px;
    width: 100%;
    height: 4px;
    background-color: #CCCCCC;
}
.emphase {
    font-weight: bold;
    color: blue;
}
.twigerror ul li {
    display: inline;
    color: #ff0000;
}

div#mapzone {
    z-index: 0;
    width: 300px;
    height: 300px;
    margin: -20px auto 0 auto;
}
div#closemap {
    position: relative;
    margin-left: 260px;
    width: 40px;
    height:20px;
    z-index: 100;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: red;
}
div#map {
    z-index: 0;
    width: 300px;
    height: 300px;
    margin: -20px auto 0 auto;
}
div#closemap {
    position: relative;
    margin-left: 260px;
    width: 40px;
    height:20px;
    z-index: 100;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: red;
}
.little-img {
    border: 1px solid #CCCCCC;
    height: 40px;

}
.rs-button {
    margin: 0 20px;
    height: 30px;
}