.onoff{
    width: 80px;
    height: 40px;
    border-radius: 34px;
    font-weight: bold;
}
.red{
    background-color: #ccc;
    color: black;
}
.green{
    background-color: #8CC63C;
    color: white;
}
