/* HEADER */

body {
    margin-top: 5%;
    font-size: 1.4em;
}
@media only screen and (max-width: 1250px) {
    .connect{
        font-size: 0.8em !important;
    }
    .hover{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 1034px) {
    .connect{
        font-size: 0.6em !important;
        font-weight: 900 !important;
    }
    .hover{
        font-size: 0.6em;
        font-weight: 900;
    }
}


@media only screen and (max-width: 766px) {
    .navbar-collapse{
        background-color:white;
    }
}

@media only screen and (max-width: 930px) {
    body {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 400px) {
    body {
        margin-top: 25%;
    }

}
.navbar-logo {
    width: 100px;
    margin-top: 15%;
}

footer {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: whitesmoke; /* Black Gray */
}


.imgHeader{
    margin-top: 7%;
    animation-name: appear;
    animation-duration: 2s;

}

.bg-1 {
    height: 65%;
}
.newsletter{
    background-color: transparent;
}

.btn-default:hover{
    color: #fc1e1e;
    font-weight: 300;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-shadow: 0 0 10px #4b0101;
}

.bg-2 {
    background-color: #fc1e1e;
    color: white;
    height: 250px;
    padding-top: 30px;
}

.bg-3 {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btnwhite{
    color: white;
    font-weight: 300;
    background-color:  #4b0101;
    margin-top: 6%;


}
.btnwhite:hover{
    background-color: #fc1e1e;
    color: white;
    text-shadow: 0 0 10px white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.index_list-events {
    margin-top: 20px;
}

.imageEvents{
    width: 700px;
    height: 400px;
}

.thumbnail > img {
    height: 250px;
}

.title-view {
    text-transform: uppercase;
    font-size: 3.5em;
}

.sub-title-view {
    font-size: 2.7em;
}

.content-view {
    font-size: 1.3em;
    margin-top: 3%;
}

.contact-view {
    font-size: 1.3em;
    line-height: 2;
}

.moreEvents{
    padding-top: 40px;
    background-color: #2f2f2f; /* Black Gray */
    height: 250px;
    color: white;
}

.lineRed{
    height: 1px;
    background-color: #c90404;
}

.partnaireImg{
    height: 165px !important;
    width: 250px !important;
}

.partnaire{
    padding-top: 30px;
    padding-bottom: 30px;
}



.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.orange{
    border-color: #c90404;
}


.footer{
    padding-bottom: 80px;
}
.section-heading {
    margin-top: 0;
}
.member{
    margin-top: 7%;
    margin-bottom: 10%;
}
.btn-rib{
    margin-top: 5%;
}

/*    ADMIN      */

.logo-title{
    margin-top: 10%;
    margin-bottom: 10%;

}

.navadmin{
    font-weight: 500;
}
.font-lato{
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
.titreadmin{
    text-align: left;
    font-size: 4em;
    margin-bottom: 7%;
}
.tabadmin{
    text-align: center;
    align-self: center;
}
.tabadmin{
    margin-bottom: 5%;
}
th{
    width: 12%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
td{
    width: 12%;
    text-align: center;
}
.note-btn-group{
    width: 17%;
}
@keyframes appear {
    from {opacity: 0}
    to {opacity : 1}
}
.jumbotron{
    background-color: transparent;
    animation-name: appear;
    animation-duration: 2s;
}
.btn-admin{
    background-color: #a70050;
    border: none ;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}
.btn-filter{
    margin-top: 5%;
}
button{
    margin-left: 2%;
}
.button{
    background-color: #00a76d !important;
}
.button:hover{
    background-color: #32b88a !important;
    text-shadow: 0 0 2px white;
}
.modifadmin{
    font-size: 1em;
    margin-top: 3%;
    color: black;
    font-weight: 700;
}
.btnlist{
    margin-top:5%;
}
table{
    margin-bottom: 5%;
}
.admin{
    margin-bottom: 10%;
}
.moderate{
    margin-top: 10%;
}
thead{
    height: 100px;
}

.button-admin {
    margin-bottom: 10px;
}

.imageadmin{
    width: 500px;
}

.moderation-modal{
    width:500px;
    height: 500px;
}

.pdf{
    height:400px;
}

/*    COMPANY   */
.company{
    padding-bottom: 150px;
    padding-top: 50px;
}

.companyBottom{
    padding-top: 30px;
}

/*    COMTACT   */

.contact{
    padding-bottom:120px;
    padding-top: 50px;
}

/*    MEMBER LIST   */

.hrMembre{
    border-color: black;
}

.imgMember{
    padding-top: 20px;
    height:231px !important;
    /*width:210px !important;*/
}

.logo-sn-memberlist {
    height: 35px;
}


.list{
    padding-bottom: 180px;
}

.AlphabetNav{
    padding-bottom:70px;
    padding-top: 20px;
}


.AlphabetNav a:hover {
    background: #ddd;
    color: #444;
}

.AlphabetNav .active {
    background:  #8CC63C ;
    color: white;
}

.AlphabetNav a  {
    justify-content: center;
    padding: .5em;
    border-radius: 8px;
    font-size: 1.2em;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    color: darkgray;
}

/*------------ bar color------------*/

.barreRed{
    background-color: #FC0606;
}

.separation.barrePurple{
    background-color: #97258D;
}

.barreGreen{
    background-color: #8CC63C;
}

.barreBlue{
    background-color: #005897 ;
}

.barreYellow{
    background-color: #CADB2A;
}

div.separation {
    margin: 20px 0px;
    width: 100%;
    height: 1px;
}

.profileUser{
    padding-top: 30px;
}

.iconContact{
    padding-left: 50px;
    padding-top: 30px;
}

.img-partner{
    height: 120px;
}


/*     PLACEHOLDER PROFIL SHOW        */

.placeholder-show-profile {
    height: 231px;
}


/*     HIDDEN TYPE FORM         */

.form-hidden {
    display: none;
}

/*     FORM FOS USER         */

.btn-reset-password {
    margin-top: 8px;
}

.forgot-password a{
    color: #8CC63C;
    font-weight: bold;
}

.forgot-password {
    margin-top: 15px;
}

.form-left-margin {
    margin-left: 200px;
}

/*------------nav bar in hover------------*/


.navbar-default .navbar-nav .hoverAssociation:hover {color: #FC0606;}
.navbar-default .navbar-nav a.hoverAgenda:hover {color: #97258D ;}
.navbar-default .navbar-nav a.hoverMembres:hover {color: #8CC63C ;}
.navbar-default .navbar-nav a.hoverAdherer:hover {color: #005897 ;}
.navbar-default .navbar-nav a.hoverContact:hover {color: #CADB2A ;}


.connect {
    font-size: 1em;
    font-weight:500;
}
.connect:hover{
    color: #8CC63C;
}

.glyphicon:hover{
    color: #8CC63C !important;
}

.glyphicon.scrolled{
    color: white !important;
}

.navbar-fixed-top.scrolled {
    background-color: rgba(0,167,109,.8) !important;
    transition: background-color 100ms ease-in;
}
.hover.scrolled {
    color: white !important;
    transition: color 100ms linear;
}
.hover.scrolled:hover{
    text-shadow: 0 0 2px white;
}

.connect.scrolled{
    color: white;
    transition: color 100ms linear;
}
.connect.scrolled:hover{
    text-shadow: 0 0 2px white;
}
.navbar-fixed-top{
    background-color: white;
}

.navbar{
    height: 10%;
    border: none;
    color:black !important;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}
.navbar-nav{
    margin-top: 1%;
    font-size: larger;
    font-weight: 500;
}

/*---------- index color-----------*/


.btnGreen{
    background-color:  #8CC63C !important;
}
.btnRed{
    background-color: #7e0303 ;
}

.zoneRed{
    background-color:  #fc1e1e;
    font-size: 1.4em;
    height: 350px;

}

.titreindex{
    font-size: 4em;
    font-weight: 900;
    color: white;
    border-bottom: 7px solid #7e0303;
}

.asso{
    animation-name: fadeInUp;
    animation-iteration-count: 1;
    animation-duration: 1.3s;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.zoneBlue{
    background-color: #7fabcb ;
}

.imagePlaceholder{
    height: 231px;
}


.imageProfileMember{
    height: 231px;
}

.messageOk{
    padding-top: 5px;
    height: 30px;
}

.messageNo{
    padding-top: 5px;
    height: 30px;
}



/*---------- MAILCHIMP-----------*/

#mc_embed_signup{
    background:#fff;
    clear:left;
    font:14px 'Lato',sans-serif;
    width:100%;
}

.mailChimpStyle{
    position: absolute; left: -5000px;
}

.mailChimp{
    height: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 2px 5px 0 rgba(0,167,109,.8);
}

li{
    list-style-type:none;

}

.mentionLegaleTitle{
    padding-bottom: 5px;
    padding-top: 20px;
    Font-Weight: Bold;
}


/*---------- PRESENTATION NUM'O-----------*/


