.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #1F1F1F; border-radius: 7px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OK";
    padding-left: 5px;
    background-color: #FFFFFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #FFFFFF; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 35px; margin: -2.5px;
    background: #E00000;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border: 2px solid #1F1F1F; border-radius: 7px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #1A4205;
}
.bouton{
    margin-top: 5%;
}