{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}

        <div class="container-fluid bg-1 text-center">

            <h3 class="margin"></h3>
            <div class="row">
                <h2 class="title-view">Réinitialiser le mot de passe</h2>
                <div class="separation barreRed"></div>

                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
            </div>
        </div>

    {% endblock %}

{% endblock %}