{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}
        <header>
            <div class="header-content">
                <div class="header-content-inner">

                <h2 id="homeHeading">Réinitialiser le mot de passe</h2>
                <hr>
                <p>
                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                </p>
                </div>
            </div>
        </header>
    {% endblock %}

{% endblock %}