
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="container-fluid bg-1 text-center">

        <h3 class="margin"></h3>
        <div class="row">
            <h2 class="title-view">Réinitialiser le mot de passe</h2>
            <div class="separation barreBlue"></div>

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-2 control-label" for="username">Adresse email</label>
                    <div class="col-sm-4">
                        <input  class="form-control" type="text" id="username" name="username" required="required" />
                    </div>
                </div>

                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <input class="col-sm-offset-1 btn btn-default btn-xl sr-button btn-reset-password" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}