{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-xs-12 text-center">
        <h1 class="title-view">{{ company.adherentTitle }}</h1>
        <div class="separation barreBlue"></div>
    </div>

    <div class="container-fluid company">

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 text-center">
                <p class="content-view">{{ company.adherentContent }}</p>
                <div class="row companyBottom">
                        {% if company.pdf != '' %}
                            <a href="{{ asset('uploads/numo/' ~ company.pdf) }}" download="RIB NUMO" type="button" class="btn btn-default btndarkblue">TELECHARGER LE RIB DE NUM'O (RIB)</a>
                        {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}