{% extends 'layout.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-6">
                <h2>Num'o est une startup associative <hr> </h2>
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio sapien,
                    convallis in orci eu, porta vestibulum lectus. Morbi nec enim et ante bibendum
                    iaculis. Vestibulum pellentesque, ante sed volutpat malesuada, urna quam eleifend
                    lectus, sit amet dignissim justo urna et magna. Sed eget tincidunt risus.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Aliquam euismod lacus eros, dapibus dictum magna commodo at. Vestibulum bibendum
                    magna in diam ornare elementum.
                    Praesent nibh libero, auctor a nisl sit amet, semper lobortis felis. Sed eu odio semper,
                    pellentesque lorem eget, eleifend ante. Duis a urna vel risus varius ultricies id et orci.
                    Donec vel est nisl. Donec non lectus vitae risus vehicula consectetur vel sit amet est.
                    Maecenas laoreet neque at risus sodales posuere. Ut enim tortor, aliquet quis sapien imperdiet,
                    sollicitudin suscipit lacus. Donec eleifend, lorem nec sagittis fermentum, augue tellus vehicula mi,
                    et ultricies metus nisl in nibh. Vestibulum pellentesque, nibh vitae consequat ornare, lorem augue
                    aliquam ex, sed rhoncus arcu lacus ut nibh. Nunc interdum et arcu quis iaculis. Nam mi nulla,
                    consequat rhoncus ex in, tincidunt sodales turpis. Nunc id orci sed dolor hendrerit pharetra eu eget lectus.
                    Phasellus scelerisque ex ac pharetra efficitur. Sed egestas nulla vel turpis placerat, id
                    ullamcorper massa mollis. Morbi id feugiat quam. Nullam gravida mi risus, a vestibulum
                    quam vestibulum eget. Morbi viverra nec tortor quis euismod. Praesent pharetra mi nisi,
                    vel eleifend elit eleifend non. Nunc ante metus, dignissim sit amet euismod eu, fermentum
                    quis massa. Suspendisse placerat, enim sed condimentum aliquet, mauris neque lobortis dui,
                    quis tincidunt urna mauris vitae diam. In tempor dapibus ultricies. Phasellus a fringilla orci
                    . Nam sed eleifend purus. Vivamus diam est, efficitur sed enim non, lacinia faucibus nisl.

                </p>
            </div>
            <div class="col-lg-offset-1 col-lg-2">
                <h2>Nos coordonnés <hr> </h2>
                <p>NUM'O (Siège social)
                    Lab'o Orléans</p>
                <ol><ul>Tél : 02 XX XX XX XX </ul>
                    <ul>Email : contact@pnum'o.org</ul>
                </ol>
            </div>
            <div class="col-lg-offset-5 col-lg-5">
                <button type="button" class="btn btn-success">Devenir adhérent</button>
            </div>
        </div>
    </div>


{% endblock %}