{% extends 'layout.html.twig' %}
{% block body %}
{#<header>#}
    {#<div class="header-content">#}
        {#<div class="header-content-inner">#}
            {#<h1 id="homeHeading">NUM'O</h1>#}
            {#<hr>#}
            {#<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>#}
            {#<a href="#about" class="btn btn-primary btn-xl page-scroll">Consultez l'agenda</a>#}
        {#</div>#}
    {#</div>#}
{#</header>#}
    {#<div class="bg-primary" id="about">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-lg-8 col-lg-offset-2 text-center">#}
                    {#<h2 class="section-heading">We've got what you need!</h2>#}
                    {#<hr class="light">#}
                    {#<p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>#}
                    {#<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <div class="container-fluid bg-1 text-center">
        <h3 class="margin"></h3>
        <div class="row imgHeader">
            <a href=" /agenda" class="btn btn-default btn-lg btnOrange">Consulter les événements</a>

        </div>
    </div>

    <div class="container-fluid bg-2 text-center">
        <div class="col-lg-offset-3 col-lg-6">
            <h3 class="margin">NUM'O</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="/register" class="btn btn-lg btnwhite">
                <span class="glyphicon glyphicon-search"></span> Devenez membre
            </a>
        </div>
    </div>

    {#<div class="container-fluid bg-3 text-center">#}
        {#<h3 class="margin">Les catégories</h3><br>#}

        {#<div class="row">#}
            {#<div class="col-lg-offset-1 col-lg-2">#}
                {#<img src="img/category.png" class="img-responsive margin category"  alt="">#}
            {#</div>#}

            {#<div class="col-lg-2">#}
                {#<img src="img/category.png" class="img-responsive margin category" alt="">#}
            {#</div>#}

            {#<div class="col-lg-2">#}
                {#<img src="img/category.png" class="img-responsive margin category" alt="">#}
            {#</div>#}

            {#<div class="col-lg-2">#}
                    {#<img src="img/category.png" class="img-responsive margin category"alt="">#}
            {#</div>#}

                {#<div class="col-lg-2">#}
                {#<img src="" class="img-responsive margin category" alt="">#}
            {#</div>#}
        {#</div>#}
        {#<br/>#}
        {#<br/>#}
        {#<br/>#}
        {#<br/>#}
        {#<br/>#}
        {#<br/>#}
    {#</div>#}


        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/1.jpg" class="portfolio-box">
                        <img src="img/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/2.jpg" class="portfolio-box">
                        <img src="img/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/3.jpg" class="portfolio-box">
                        <img src="img/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/4.jpg" class="portfolio-box">
                        <img src="img/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/5.jpg" class="portfolio-box">
                        <img src="img/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/6.jpg" class="portfolio-box">
                        <img src="img/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    <div class="container-fluid text-center">
        <div class="row moreEvents">
            <div class="col-lg-offset-3 col-lg-6">
                <h3 class="margin">Les événements</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                <a href="/agenda" class="btn btn-danger  btn-lg">Voir plus</a>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1   ">
            {#<hr class="lineRed">#}
        </div>
        <div class="col-lg-offset-0 col-lg-12">
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <h2>Nos partenaires</h2>


                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-lg-offset-2  col-lg-2">
                            <img src="img/1.jpg" class="img-responsive" alt="" width="100%      ">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/2.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/3.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/4.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-offset-2  col-lg-2">
                            <img src="img/5.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/6.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/fb.png" class="img-responsive" alt="" width="70%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/logotrans.png" class="img-responsive" alt="" width="80%">
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-offset-2  col-lg-2">
                            <img src="img/mail.png" class="img-responsive" alt="" width="70%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/tel.png" class="img-responsive" alt="" width="70%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/twitter.png" class="img-responsive" alt="" width="70%">
                        </div>
                        <div class="col-lg-2">
                            <img src="img/3.jpg" class="img-responsive" alt="" width="100%">
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>





{% endblock %}